body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

#logo {
    max-width: 100%;  /* Ensures the logo is not too wide for its container */
    height: auto;  /* Maintains aspect ratio */
    display: block;  /* Allows margin auto to center the logo */
    margin: 0 auto 20px auto;  /* Adds margin to the bottom of the logo and centers it */
}

h1 {
    text-align: center;
}
h2 {
    font-size: 14px;
}
form {
    margin-bottom: 20px;
}
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #9b3236;
    color: white;
    border: none;
}
input[type="submit"]:hover {
    background-color: #88292d;
}
.wine {
    margin-bottom: 20px;
}
.match-type {
    font-style: italic;
    color: #888;
    font-size: 12px;  /* Updated font size for better readability */
}
