body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

p {
    font-family: fangsong ;
    font-weight: bold;
}
em {
    color: #9b3236;  /* Changing the color of the text within the <em> tag */
    font-style: italic;  /* Ensuring the text is italicized (this is default for <em>, but included for clarity) */
    font-size: 12px;  /* Making the text bold */
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#logo {
    max-width: 40%;  
    height: auto;  
    display: block;  
    margin: 0 auto 20px auto;  
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-bar {
    position: relative;
}

/* Button Styling */
button {
    width: 100%;
    padding: 12px;
    background-color: #9b3236;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    display: none; /* Hide initially */
}

.text {
    display: inline-block;
}

/* Button Hover and Active States */
button:hover,
button:focus {
    background-color: #7d292c;
}

button:active {
    transform: scale(0.98);
}

.wine {
    margin-bottom: 25px;
    padding: 15px; 
    background-color: #f9f9f9;
    border-radius: 4px;
}

.match-type {
    font-style: italic;
    color: #888;
    font-size: 12px;
}

.desktop-search-button {
    width: 100%;
    padding: 12px;
    background-color: #9b3236;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    display: none; /* Hide initially */
}

.mobile-search-icon {
    color: #9b3236;
    cursor: pointer;
    display: none; /* Hide initially */
    font-size: 24px; /* Adjust icon size */
    margin-left: 10px; /* Space between input and icon */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 601px) {
    .desktop-search-button {
        display: inline-block; /* Show button on desktop */
    }
    .mobile-search-icon {
        display: none !important;
    }
}

@media (max-width: 600px) {
	.mobile-search-icon {
        display: inline-block; /* Show icon on mobile */
        font-size: 20px;
        top: 40%;
    }
	
    form {
        flex-direction: column;
        align-items: stretch;
    }

    button {
        width: 100%;
		padding: 12px;  /* Increase padding for better touch interaction */
        margin: 5px;  /* A bit of margin on all sides */
    }
	
	.text {
        display: none;
    }
	
	input[type="text"] {
        width: calc(100% - 55px); /* 100% - (icon size + margin-left) */
        display: inline-block;
    }
}


